@*
    index.xshtml del controlador Principal

    ~ se llama virgulilla
*@
<link href="~/css/estilos.css" rel="stylesheet" type="text/css">
<h4 class="texto">Usando archivos estáticos</h4>
<img src="~/imagenes/atun.jpg" alt="Se muestra una lata de atún Vancamps" onclick="mostrar()">
<br>
<img src="~/imagenes/queso.jpg" alt="Se muestra un paquete de queso">
<script src="~/js/miscript.js"></script>