@{
    Layout = "~/Views/Shared/_SupremoLayout.cshtml";
}
<a asp-controller="EjemploLayouts" asp-action="Anidado2Menu1">Menu 1</a>
<a asp-controller="EjemploLayouts" asp-action="Anidado2Menu2">Menu 2</a>
<h2>ANIDADO 2</h2>