@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
    <body>
        <h1>CI: @ViewBag.carnet</h1>
        <h2>Apellido: @ViewBag.apellido</h2>
    </body>
</html>